#stories_pagelet_rhc,
#pagelet_reminders,
.jewelCount,
#pagelet_ego_pane,
div[id^="topnews_main_stream"] {
  opacity: 0 !important;
  display: none;
}

/*
* Hide notifications, messenger and friend requests icons
* We only use opacity otherwise we can't click on it anymore
*/
#fbNotificationsJewel a,
#u_0_e a,
#fbRequestsJewel a {
  opacity: 0 !important;
}
